modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["rs"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 8000
externalPort = 80

npm install json2csv
